---
# Only the main Sass file needs front matter
---

@import "minimal-mistakes";
 
/* Alinea tu bio a la derecha o justificado */ 
/*.author__bio {
  text-align: justify;
} */

/*  Tamaño de la foto */
img {
  width: 200px;   /* tamaño deseado */
  max-width: 100%; /* aumenta el tamaño */
  height: auto; /* mantiene proporción */
}

/* Reduce tamaño de los títulos dentro de la lista si quieres */
.page__content {
  font-weight: 600 !important;
  font-size: 0.7em !important;
  font-family: inherit !important;
  max-width: 75ch;
}

/* Ajusta la lista de publicaciones: margen y tamaño */
.page__content ol li,
.page__content ul li {
  margin-bottom: 0.2em !important; /* espacio entre items */
  line-height: 1.2em !important;
/*  font-size: 0.7em;      /* tamaño más compacto */
  max-width: 75ch;   /* aprox 80 caracteres por línea */
}

/* listas más compactas */
.column ul {
  padding-left: 1.2em;
}

/* Opcional: cambia color de links solo en las publicaciones */
.page__content a {
  color: #990000;        /* rojo oscuro */
  text-decoration: none;
}
.page__content a:hover {
  color: #cc0000;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  margin-top: 1.5em;
}

.column {
  flex: 1;              /* cada columna ocupa mismo espacio */
  min-width: 250px;     /* evita que se aplasten */
}

/* títulos tipo sección */
.column h3 {
  margin-bottom: 0.5em;
}


.page {
  max-width: 1400px !important;
}

.page__inner-wrap {
  max-width: 1200px !important;
}

.page__content p {
  max-width: none !important;
}

.edu-inst {
  color: #888888;     /* gris */
  font-size: 0.8em;  /* más pequeño */
}

.education-list li {
  display: block;       /* asegura que margin se aplique correctamente */
  margin-bottom: 0.2em !important; /* aumenta espacio entre items */
}
